In [1]:
import os
import json
import pandas as pd
import mysql.connector

In [2]:
#aggregated_transaction

path1="C:/Users/tpsna/OneDrive/Desktop/VSCode/Phonepe/pulse/data/aggregated/transaction/country/india/state/"
agr_trns_list=os.listdir(path1)

column1={"States":[],"Years":[],"Quater":[], "Transaction_type":[],"Transaction_count":[],"Transaction_amount":[]}
for state in agr_trns_list:
    current_states = path1 + state + "/"
    #print(current_states)
    agr_year_list = os.listdir(current_states)
    #print(agr_year_list)
    
    for year in agr_year_list:
        current_year = current_states + year + "/"
        agr_file_list = os.listdir(current_year)

        for file in agr_file_list:
            current_file = current_year + file 
            data=open(current_file,"r")   #r=read

            A=json.load(data)
            for i in A["data"]["transactionData"]:
                name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                column1["Transaction_type"].append(name)
                column1["Transaction_count"].append(count)
                column1["Transaction_amount"].append(amount)
                column1["States"].append(state)
                column1["Years"].append(year)
                column1["Quater"].append(int(file.strip(".json")))


aggregated_transaction = pd.DataFrame(column1)

In [3]:
aggregated_transaction['States'] = aggregated_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_transaction['States'] = aggregated_transaction['States'].str.replace("-"," ")
aggregated_transaction['States'] = aggregated_transaction['States'].str.title()
aggregated_transaction['States'] = aggregated_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [4]:
aggregated_transaction['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [45]:
#MySQL Connection:
mydb = mysql.connector.connect(host="localhost",user="root",password="Dhusha98")
print(mydb)
mycursor = mydb.cursor(buffered=True)
#mycursor.execute('CREATE DATABASE phonepepulse')
mycursor.execute('use phonepepulse')

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022602696F90>

In [50]:
#creating aggregated_transaction table:
sql_query="CREATE TABLE agr_trns (States VARCHAR(255), Years INT, Quater INT, Transaction_type VARCHAR(255), Transaction_count BIGINT, Transaction_amount BIGINT)"
mycursor.execute(sql_query)
mydb.commit()

insert_query="INSERT INTO agr_trns(States,Years,Quater,Transaction_type,Transaction_count,Transaction_amount) VALUES (%s, %s, %s, %s, %s, %s)"
data=aggregated_transaction.values.tolist()
mycursor.executemany(insert_query,data)
mydb.commit()

In [4]:
#aggregated_user

path2="C:/Users/tpsna/OneDrive/Desktop/VSCode/Phonepe/pulse/data/aggregated/user/country/india/state/"
agr_user_list=os.listdir(path2)

column2={"States":[],"Years":[],"Quater":[], "Brands":[],"Transaction_count":[],"Percentage":[]}
for state in agr_user_list:
    current_states = path2 + state + "/"
    #print(current_states)
    agr_year_list = os.listdir(current_states)
    #print(agr_year_list)
    
    for year in agr_year_list:
        current_year = current_states + year + "/"
        agr_file_list = os.listdir(current_year)

        for file in agr_file_list:
            current_file = current_year + file 
            data=open(current_file,"r")   #r=read

            B=json.load(data)
            try:
                for i in B["data"]["usersByDevice"]:
                    brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    column2["Brands"].append(brand)
                    column2["Transaction_count"].append(count)
                    column2["Percentage"].append(percentage)
                    column2["States"].append(state)
                    column2["Years"].append(year)
                    column2["Quater"].append(int(file.strip(".json")))
            except:
                pass

aggregated_user=pd.DataFrame(column2)

In [6]:
aggregated_user['States'] = aggregated_user['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_user['States'] = aggregated_user['States'].str.replace("-"," ")
aggregated_user['States'] = aggregated_user['States'].str.title()
aggregated_user['States'] = aggregated_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [7]:
aggregated_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [73]:
#creating aggregated_user table:
sql_query2="CREATE TABLE agr_user (States VARCHAR(255), Years INT, Quater INT, Brands VARCHAR(255), Transaction_count BIGINT, Percentage FLOAT)"
mycursor.execute(sql_query2)
mydb.commit()

insert_query2="""INSERT INTO agr_user(States, Years, Quater, Brands, Transaction_count, Percentage)
                VALUES (%s, %s, %s, %s, %s, %s)"""
data=aggregated_user.values.tolist()
mycursor.executemany(insert_query2,data)
mydb.commit()

In [24]:
#map transactions
path3="C:/Users/tpsna/OneDrive/Desktop/VSCode/Phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_trns_list=os.listdir(path3)

column3={"States":[],"Years":[],"Quater":[], "Districts":[],"Transaction_count":[],"Transaction_amount":[]}
for state in map_trns_list:
    current_states = path3 + state + "/"
    #print(current_states)
    map_year_list = os.listdir(current_states)
    #print(agr_year_list)
    
    for year in map_year_list:
        current_year = current_states + year + "/"
        map_file_list = os.listdir(current_year)

        for file in map_file_list:
            current_file = current_year + file 
            data=open(current_file,"r")   #r=read

            C=json.load(data)
            for i in C["data"]["hoverDataList"]:
                    name=i["name"]
                    count=i["metric"][0]["count"]
                    amount=i["metric"][0]["amount"]
                    column3["Districts"].append(name)
                    column3["Transaction_count"].append(count)
                    column3["Transaction_amount"].append(amount)
                    column3["States"].append(state)
                    column3["Years"].append(year)
                    column3["Quater"].append(int(file.strip(".json")))

map_transaction=pd.DataFrame(column3)

In [25]:
map_transaction['States'] = map_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_transaction['States'] = map_transaction['States'].str.replace("-"," ")
map_transaction['States'] = map_transaction['States'].str.title()
map_transaction['States'] = map_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [52]:
map_transaction['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [63]:
#creating map_transaction table:
sql_query3="CREATE TABLE map_trns (States VARCHAR(255), Years INT, Quater INT, Districts VARCHAR(255), Transaction_count BIGINT, Transaction_amount BIGINT)"
mycursor.execute(sql_query3)
mydb.commit()

insert_query3="""INSERT INTO map_trns(States, Years, Quater, Districts, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)"""
data=map_transaction.values.tolist()
mycursor.executemany(insert_query3,data)
mydb.commit()

In [39]:
map_transaction.columns

Index(['States', 'Years', 'Quater', 'Districts', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [28]:
#map_user
path4="C:/Users/tpsna/OneDrive/Desktop/VSCode/Phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list=os.listdir(path4)

column4={"States":[],"Years":[],"Quater":[], "Districts":[],"RegisteredUsers":[],"AppOpens":[]}
for state in map_user_list:
    current_states = path4 + state + "/"
    #print(current_states)
    map_year_list = os.listdir(current_states)
    #print(agr_year_list)
    
    for year in map_year_list:
        current_year = current_states + year + "/"
        map_file_list = os.listdir(current_year)

        for file in map_file_list:
            current_file = current_year + file 
            data=open(current_file,"r")   #r=read

            D=json.load(data)
            for i in D["data"]["hoverData"].items():
                    district=i[0]
                    registeredUsers=i[1]["registeredUsers"]
                    appOpens=i[1]["appOpens"]
                    column4["Districts"].append(district)
                    column4["RegisteredUsers"].append(registeredUsers)
                    column4["AppOpens"].append(appOpens)
                    column4["States"].append(state)
                    column4["Years"].append(year)
                    column4["Quater"].append(int(file.strip(".json")))

map_user=pd.DataFrame(column4)

In [29]:
map_user['States'] = map_user['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_user['States'] = map_user['States'].str.replace("-"," ")
map_user['States'] = map_user['States'].str.title()
map_user['States'] = map_user['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [30]:
map_user['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [67]:
#creating map_user table:
sql_query4="CREATE TABLE map_user (States VARCHAR(255), Years INT, Quater INT, Districts VARCHAR(255), RegisteredUsers BIGINT, AppOpens BIGINT)"
mycursor.execute(sql_query4)
mydb.commit()

insert_query4="""INSERT INTO map_user(States, Years, Quater, Districts, RegisteredUsers, AppOpens)
                VALUES (%s, %s, %s, %s, %s, %s)"""
data=map_user.values.tolist()
mycursor.executemany(insert_query4,data)
mydb.commit()

In [40]:
map_user.columns

Index(['States', 'Years', 'Quater', 'Districts', 'RegisteredUsers',
       'AppOpens'],
      dtype='object')

In [32]:
#top_transaction
path5="C:/Users/tpsna/OneDrive/Desktop/VSCode/Phonepe/pulse/data/top/transaction/country/india/state/"
top_trns_list=os.listdir(path5)

column5={"States":[],"Years":[],"Quater":[], "Pincodes":[],"Transaction_count":[],"Transaction_amount":[]}
for state in top_trns_list:
    current_states = path5 + state + "/"
    #print(current_states)
    top_year_list = os.listdir(current_states)
    #print(agr_year_list)
    
    for year in top_year_list:
        current_year = current_states + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file = current_year + file 
            data=open(current_file,"r")   #r=read

            E=json.load(data)
            for i in E["data"]["pincodes"]:
                entityname=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                column5["Pincodes"].append(entityname)
                column5["Transaction_count"].append(count)
                column5["Transaction_amount"].append(amount)
                column5["States"].append(state)
                column5["Years"].append(year)
                column5["Quater"].append(int(file.strip(".json")))
        

top_transaction=pd.DataFrame(column5)

In [33]:
top_transaction['States'] = top_transaction['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_transaction['States'] = top_transaction['States'].str.replace("-"," ")
top_transaction['States'] = top_transaction['States'].str.title()
top_transaction['States'] = top_transaction['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [34]:
top_transaction['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [65]:
#creating top_transaction table:
sql_query5="CREATE TABLE top_trns (States VARCHAR(255), Years INT, Quater INT, Pincodes INT, Transaction_count BIGINT, Transaction_amount BIGINT)"
mycursor.execute(sql_query5)
mydb.commit()

insert_query5="""INSERT INTO top_trns(States, Years, Quater, Pincodes, Transaction_count, Transaction_amount)
                VALUES (%s, %s, %s, %s, %s, %s)"""
data=top_transaction.values.tolist()
mycursor.executemany(insert_query5,data)
mydb.commit()

In [41]:
top_transaction.columns

Index(['States', 'Years', 'Quater', 'Pincodes', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')

In [36]:
#top_user
path6="C:/Users/tpsna/OneDrive/Desktop/VSCode/Phonepe/pulse/data/top/user/country/india/state/"
top_user_list=os.listdir(path6)

column6={"States":[],"Years":[],"Quater":[], "Pincodes":[],"RegisteredUsers":[]}
for state in top_user_list:
    current_states = path6 + state + "/"
    #print(current_states)
    top_year_list = os.listdir(current_states)
    #print(agr_year_list)
    
    for year in top_year_list:
        current_year = current_states + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file = current_year + file 
            data=open(current_file,"r")   #r=read

            F=json.load(data)
            for i in F["data"]["pincodes"]:
                entityname=i["name"]
                registeredusers=i["registeredUsers"]
                column6["Pincodes"].append(entityname)
                column6["RegisteredUsers"].append(registeredusers)
                column6["States"].append(state)
                column6["Years"].append(year)
                column6["Quater"].append(int(file.strip(".json")))
        
top_users=pd.DataFrame(column6)

In [37]:
top_users['States'] = top_users['States'].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_users['States'] = top_users['States'].str.replace("-"," ")
top_users['States'] = top_users['States'].str.title()
top_users['States'] = top_users['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu","Dadra and Nagar Haveli and Daman and Diu")

In [38]:

top_users['States'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [68]:
#creating top_user table:
sql_query6="CREATE TABLE top_user (States VARCHAR(255), Years INT, Quater INT, Pincodes INT, RegisteredUsers BIGINT)"
mycursor.execute(sql_query6)
mydb.commit()

insert_query6="""INSERT INTO top_user(States, Years, Quater, Pincodes, RegisteredUsers)
                VALUES (%s, %s, %s, %s, %s)"""
data=top_users.values.tolist()
mycursor.executemany(insert_query6,data)
mydb.commit()

In [42]:
top_users.columns

Index(['States', 'Years', 'Quater', 'Pincodes', 'RegisteredUsers'], dtype='object')

In [71]:
mycursor.execute("show tables")
mycursor.fetchall()

[('agr_trns',),
 ('agr_user',),
 ('map_trns',),
 ('map_user',),
 ('top_trns',),
 ('top_user',)]

In [ ]:
#to get the cleaned data in a csv
aggregated_transaction.to_csv("aggregated_transaction.csv",index=False)
aggregated_user.to_csv("aggregated_user.csv", index=False)
map_transaction.to_csv("map_transaction.csv", index=False)
map_user.to_csv("map_user.csv", index=False)
top_transaction.to_csv("top_transaction.csv", index=False)
top_users.to_csv("top_users.csv", index=False)

In [ ]:
States=('Andaman & Nicobar','Andhra Pradesh', 'Arunachal Pradesh',
                            'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
                            'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
                            'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
                            'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
                            'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
                            'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
                            'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
                            'Uttarakhand', 'West Bengal')
with open('States.csv', 'w') as file:
    for State in States:
        file.write(State + '\n')

In [ ]:
states_df = aggregated_transaction[['States']]  # Extracting only the 'States' column
states_df.to_csv('States.csv', index=False)